<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body>
    <section id="contato">
      <h3>Nueva solicitud de contacto</h3>
      <br />
      <h4>Informacion de contacto</h4>
      <h4>Nombre de contacto</h4>
      <p>{{.Nombre}}</p>
      <h4>Correo</h4>
      <p>{{.Correo}}</p>
      <h4>Tema</h4>
      <p>{{.Titulo}}</p>
      <h4>Contenido</h4>
      <p>{{.Descripcion}}</p>
    </section>
  </body>
</html>
